spring:
  application:
    name: "sparta-ecommerce"


  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sparta_ecommerce?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: test1234!@

    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
      pool-name: MyHikariCP

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false

  # flyway setting
  flyway:
    enabled: true
    locations: classpath:db/migration


logging:
  level:
    org.hibernate.SQL: DEBUG