spring:
  flyway:
    enabled: true
    locations: classpath:db/migration

  datasource:
    url: jdbc:mysql://spring-mysql.orb.local:3306/spring_db?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org.hibernate.SQL: DEBUG

server:
  port: 8080