spring:
  application:
    name: practice
  datasource:
    url: jdbc:mysql://wodydtns.duckdns.org:3306/sparta_commerce
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
      max-lifetime: 1800000
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
  flyway:
    enabled: true
    locations: classpath:/db/migration
    baseline-on-migrate: true

logging:
  level:
    root: INFO
    com.wodydtns.practice: DEBUG
springdoc:
  swagger-ui:
    enabled: true

server:
  port: 8080
